//Babel configuration :D 
{
	"presets": [
                "es2015", [
                "@babel/preset-react", {
                    "pragma": "dom",
                    "pragmaFrag": "DomFrag", 
                    "throwIfNamespace": false, 
                    "runtime": "classic"
            }]],
    "env": {
            "development": {
            "presets": [["@babel/preset-react", { "development": true }]]
            }
    }
}